################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodePulse.API/FileContentIndex/11c179cc-4657-48b4-a5f4-29a1afd1bbd1.vsidx
/.vs/CodePulse.API/FileContentIndex/2dd28d02-4699-4396-83e7-ddac06d03148.vsidx
/.vs/CodePulse.API/FileContentIndex/4a9b1d21-c023-487b-a78b-d07f84531515.vsidx
/.vs/CodePulse.API/FileContentIndex/54de2bb7-e9e5-4262-8b36-2b26520a17a9.vsidx
/.vs/CodePulse.API/FileContentIndex/fb3a204c-fba5-4e53-8d24-92478840842a.vsidx
/.vs/CodePulse.API/FileContentIndex/245f4dd4-3901-499a-ae92-b96014423665.vsidx
/.vs/CodePulse.API/FileContentIndex/ae5c352c-3ccc-4b08-be6a-0e9b05b8c14c.vsidx
